<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 
    
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ea nesciunt iusto nisi exercitationem ut ipsum tenetur accusantium eum tempora amet consequuntur at voluptatibus quasi, aliquam quae libero ex. Blanditiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ea nesciunt iusto nisi exercitationem ut ipsum tenetur accusantium eum tempora amet consequuntur at voluptatibus quasi, aliquam quae libero ex. Blanditiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ea nesciunt iusto nisi exercitationem ut ipsum tenetur accusantium eum tempora amet consequuntur at voluptatibus quasi, aliquam quae libero ex. Blanditiis.</p>

    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>